* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-family: 'Poppins', sans-serif;
}

.menu__logo {
    font-size: 2.6rem;
    flex: 3 1 40rem;
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
}

p,
input,
label,
li,
button {
    font-size: 2rem;
}

.menu__list {
    font-size: 2rem;
}

.hero__heading {
    font-size: 4.8rem;
}

.hero__subheading {
    font-size: 3rem;
    padding: 3rem;
    font-weight: normal;
}

h4,
h5 {
    font-size: 2.8rem;
    font-weight: 400;
}

.link {
    color: #fff;
    text-decoration: none;
}


.menu {
    color: #fff;
    background-color: #131c27;

}

.menu__navigation {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    min-height: 10vh;
    padding: 2rem;
    margin: auto;
    align-items: center;
}

.menu__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 40rem;
    list-style: none;
}

.hero {
    min-height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("/img/landing-page.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero__contactBtn {
    padding: 2rem 6rem;
    background: #4c6e97;
    color: #fff;
    border: none;
    font-size: 1.8;
    cursor: pointer;
}

.locations {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("/img/new-york-page.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.locations__header {
    width: 90%;
    margin: auto;
}

.locations__header h2 {
    padding: 1rem 0rem;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;

}

.locations__header h3 {
    padding: 4rem 0rem;
    background: linear-gradient(#131c27, #663b34);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.benefits__text {
    background: #343c44;
    padding: 3rem;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.benefits__subheading {
    padding: 1rem;
    line-height: 1.8rem;
}

.benefits__cards {
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    flex: 1 1 30rem;
    margin: 2rem 5rem;
    min-height: 40vh;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    ;
}

.card h4,
.card p {
    padding: 1rem;
}

.card img {
    max-width: 15%;
    margin: 2rem;

}

.card__icon {
    background-color: #131c27;
}

@media screen and (max-width: 932px) {
    html {
        font-size: 45%;
    }

    .menu__navigation {
        text-align: center;
    }

    .menu__logo {
        padding: 2rem;
    }
}