* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-family: 'Poppins', sans-serif;
}

.menu__logo {
    font-size: 2.6rem;
    flex: 3 1 40rem;
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
}

p,
input,
label,
li,
button {
    font-size: 2rem;
}

.menu__list {
    font-size: 2rem;
}

.hero__heading {
    font-size: 4.8rem;
}

.hero__subheading {
    font-size: 3rem;
    padding: 3rem;
    font-weight: normal;
}

h4,
h5 {
    font-size: 2.8rem;
    font-weight: 400;
}

.link {
    color: #fff;
    text-decoration: none;
}


.menu {
    color: #fff;
    background-color: #131c27;
    position: sticky;
    top: 0px;
    z-index: 3;

}

.menu__navigation {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    min-height: 10vh;
    padding: 2rem;
    margin: auto;
    align-items: center;
   
}

.menu__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 40rem;
    list-style: none;
}

.hero {
    min-height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("/img/landing-page.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    padding: 2rem 6rem;
    background: #4c6e97;
    color: #fff;
    border: none;
    font-size: 1.8;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

.button:hover {
    background: #27394e;
}

.locations {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("/img/new-york-page.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.locations__header {
    width: 90%;
    margin: auto;
}

.locations__header h2 {
    padding: 1rem 0rem;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;

}

.locations__header h3 {
    padding: 4rem 0rem;
    background: linear-gradient(#131c27, #663b34);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.cloud {
    position: absolute;
    top: 0%;
    right: 0%;
}

.moving-cloud1 {
    animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud2 {
    top: 20%;
    z-index: -1;
    opacity: 0.5;
    animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}


@keyframes cloudAnimation {
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(0%, 0%);
    }
}

.benefits__text {
    background: #343c44;
    padding: 3rem;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.benefits__subheading {
    padding: 1rem;
    line-height: 1.8;
}

.benefits__cards {
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    flex: 1 1 30rem;
    margin: 2rem 5rem;
    min-height: 40vh;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    ;
}

.card h4,
.card p {
    padding: 1rem;
}

.card img {
    max-width: 15%;
    margin: 2rem;

}

.card__icon {
    background-color: #131c27;
}

.contact {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), transparent), url("img/contact-mountain.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__wrapper {
    background: rgba(19, 28, 39, 0.8);
    width: 60%;
    color: #fff;
    border-radius: 2rem;
}
.form__header{
    text-align: center;
    padding: 4rem;
}
.name__form, .email__form{
    padding: 3rem;
    text-align: center;
}
.form__wrapper label{
    margin: 0rem 3rem;
}
.form__wrapper button{
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.form__wrapper input{
    padding: 1rem 3rem;
}
footer{
    color: #fff;
    background:rgba(19, 28, 39, 1);
}
.footer__wrapper{
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}
footer h5{
    flex: 1 1 40rem;
}
footer ul{
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
}
.button:focus{
background-color:#2c3f57 ;
outline-style: solid;
}
@media screen and (max-width: 932px) {
    html {
        font-size: 45%;
    }

    .menu__navigation {
        text-align: center;
    }

    .menu__logo {
        padding: 2rem;
    }

    .locations__header h2 {
        text-align: center;
    }

    .locations__header h3 {
        background: rgb(52, 60, 68, 0.5);
        -webkit-text-fill-color: #fff;
        text-align: center;
        line-height: 2rem;
    }

    .cloud {
        height: 40rem;
        pointer-events: none;
    }

    .moving-cloud1 {
        z-index: -1;
    }

    .moving-cloud2 {
        z-index: -2;
        top: 15rem;
    }
    .form__wrapper{
        width: 100%;
    }
    footer{
        text-align: center;
    }
    footer h5{
        padding-bottom:3rem ;
    }
}